<h1>编辑文章</h1>

<%= form_for(@article) do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :标题 %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :作者 %><br>
    <%= f.text_field :author_name %>
  </p>

  <p>
    <%= f.label :文本 %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit :提交 ,data: { confirm: "Are you sure?" }%>
  </p>

<% end %>

<%= link_to '返回', articles_path %>