<h1>新文章</h1>
<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :标题 %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :作者 %><br>
    <%= f.text_field :author_name %>
  </p>

  <p>
    <%= f.label :文本 %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit :提交 %>
  </p>

  <p>
    是否私有 ? :<%= f.check_box :isprivate %><br/>
  </p>

<% end %>

<%= link_to '返回', articles_path %>