<p>
    <strong>标题:</strong>
    <%= @article.title %>
</p>

<p>
  <div>作者:</div>
  <%= @article.author_name %>
</p>

<p>
    <br/>
    <strong>文本:</strong>
    <%= @article.text %>
</p>

<p>
    <br/>
    <strong>是否私有:</strong>
    <%= @article.isprivate %>
</p>

<br/>
<%= link_to 'Back', articles_path %>